/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

body {
  margin: 140px 16px;
  background: linear-gradient(#FF7AD6 25%, #14E1FF 55%, #5C4BFF 90%);
  background-repeat: no-repeat;
}

.container-header {
  height: 32px;
  background-color: #5C4BFF;
  border-radius: 8px 8px 0 0;
}

.container {
  margin: 0 auto;
  padding: 32px 24px;
  background-color: #FDFFF2;
  border-radius: 0 0 8px 8px;
}

section {
  padding-bottom: 24px;
  border-bottom: 2px dashed #FF7AD6;
}

h1,
h2 {
  font-family: "Sometype Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  color: #5C4BFF;
  text-transform: lowercase;
  transform: rotate(-4deg);
  padding-bottom: 0.5em;
}

p,
label {
  font-family: "Sometype Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  line-height: 1.4;
  padding-bottom: 10px;
  color: #5C4BFF;
}

a {
  font-family: "Sometype Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 1.4;
  color: #5C4BFF;
  text-decoration-style: dashed;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;

  background-image: linear-gradient(#5C4BFF, #5C4BFF);
  background-size: 0% 100%;
  background-repeat: no-repeat;
}

a:hover,
a:focus {
  background-size: 100% 100%;
  color: #FDFFF2;
  text-decoration-style: unset;
}

.embeddable-buttondown-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.embeddable-buttondown-form label {
  padding-bottom: 0;
}

.embeddable-buttondown-form .email,
.embeddable-buttondown-form .subscribe {
  font-family: "Sometype Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  padding: 12px;
}

.embeddable-buttondown-form .email {
  color: #5C4BFF;
  border-radius: 6px;
  border: 2px dashed #5C4BFF;
  background: #FDFFF2;
}

.embeddable-buttondown-form .subscribe {
  color: #FDFFF2;
  border-radius: 6px;
  background: #5C4BFF;
  border: 2px solid #5C4BFF;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 18px;
}

p.buttondown-link {
  margin: 0;
  padding: 0;
}

.buttondown-link a {
  font-weight: 300;
  font-size: 14px;
  text-decoration-thickness: 1px;
}

img{
  display: block;
  margin: 0 auto;
}

.party-popper-emoji {
  font-size: 48px;
  margin: 0 auto;
  display: block;
  text-align: center;
}

section.last {
  border-bottom: 0;
}

@media (min-width: 800px) {
  body {
    margin-left: 40px;
    margin-right: 40px;
  }
  .container {
    padding-left: 80px;
    padding-right: 80px;
  }
  .two-column {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-content: stretch;
    gap: 24px;
    margin-bottom: 24px;
  }
  .two-column h1, 
  .two-column h2,
  .two-column .tada-section {
    flex-grow: 1;
    flex-basis: 33.33%;
  }
  .two-column div {
    flex-grow: 2;
    flex-basis: 66.66%;
  }
  .tada-section {
    display: flex;
    gap: 24px;
    align-items: center;
  }
  .party-popper-emoji {
    text-align: left;
  }
}

@media (min-width: 1279px) {
  .container {
    padding-left: 180px;
    padding-right: 180px;
    padding-bottom: 180px;
    display: flex;
    gap: 24px;
  }
  .desktop-content {
    flex-basis: 66.66%;
  }
  .desktop-sidebar {
    flex-basis: 33.33%
  }
  .desktop-sidebar .two-column {
    flex-direction: column;
    gap: 0;
  }
  .desktop-sidebar .two-column p {
    margin-top: 0;
  }
  .party-popper-emoji {
    text-align: left;
  }
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/